:root{--white—color: #fff;}
body{
  --white—color: #fff;
  --red—color: #f10909;
  --gre—color: #7fd81f;
  --yellow-color: #fdd910;
}
*{
  margin:0;
  padding:0;
}
body{
  background:#323232;
  font-size:16px
}
.ide-wrap{
  margin-left: 12px;
  padding-top: 12px;
  padding-left: 22px;
  border-left: 4px solid #616060;
}
.block-color {
  color: var(--white—color);
}
.type-color {
  color: var(--yellow-color);
}
.con-color{
  color: var(--red—color);
}
.imp-color{
  color: var(--gre—color);
}
.mb-title{
  padding:24px 24px 0;
}
.mb-title:nth-of-type(3) {
  padding-bottom: 24px;
}
.mb-t{
  font-size:24px;
  color: var(--white—color);
}
.mb-nav{
  font-size:14px;
  color: var(--white—color);
}
.mb-a-nav{
  color: var(--yellow-color);
}
.mb-a-nav:link, .mb-a-nav:visited{
  text-decoration-line: none;
}
.mb-a-nav:hover, .mb-a-nav:active{
  text-decoration-line:underline;
}
.mb-list{
  padding: 12px 24px 0;
}
.mb-list li{
  padding-bottom: 10px;
  list-style: none;
  font-size: 13px;
}
.mb-list li .mb-date {
  padding-right: 26px;
  color:#636363;
}
.mb-list li a{
  color:var(--white—color);
  font-size: 15px;
}
.mb-list li .mb-name {
  padding-right: 6px;
  font-size: 15px;
  color: var(--white—color);
}